body{
    background-color: #779669;
    color: white;
    font-family: fantasy;
}
h1{
    margin-bottom: 0px;
}
ul{
    padding: 0px;
}
li{
    list-style: none;
    font-size: 22px;
    padding-right: 10px;
}
.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;

}
.toDo-Container{
    min-width: 400px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crossedOut{
    text-decoration: line-through;
}
.emptyList-message{
    padding-top: 5px;
    padding-bottom: 15px;
}
.listItem{
    display: flex;
    flex-direction: row;
}

.week-bar{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.week-bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.week-bar-date {
    text-align: center;
    height: 25px;
    width: 25px;
}
.today{
    border: solid #886996;
    border-radius: 50%;
}
.pageDate{
    background-color: #886996;
    border: solid #886996;
    border-radius: 50%;
}