body{
    background-color: #779669;
    color: #779669;
    font-family: fantasy;
}
h1{
    margin-bottom: 0px;
}
ul{
    padding: 0px;
}
li{
    list-style: none;
    font-size: 22px;
    padding-right: 10px;
}
.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10%;
}
.toDo-Container{
    min-width: 500px;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crossedOut{
    text-decoration: line-through;
}
.emptyList-message{
    padding-top: 5px;
    padding-bottom: 15px;
}
.listItem{
    display: flex;
    flex-direction: row;
}
